* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#header {
  background-color: #f7f7f7;
  padding-left: 2.5%;
  padding-top: 1%;
}
#menu {
  background-color: #f7f7f7;
}
#ab {
  color: #096eb4;
  border-color: #096eb4;
  margin-right: 15px;
}
#create {
  margin-right: 20px;
  width: 120px;
  font-size: 18px;
}
.line {
  background-color: #f7f7f7;
  font-size: 30px;
  color: #096eb4;
  margin-right: 15px;
}
#utc {
  background-color: #797c75;
  color: white;
}
#rdate img {
  width: 40px;
  padding-left: 10px;
  margin-top: -8px;
}

#date {
  padding-left: 5%;
}
#rdate button {
  background-color: #d3d3d3;
  border: #d3d3d3 1px solid;
  border-radius: 5px;
  font-size: larger;
}

.contan {
  /* margin: 1%; */
  padding-left: 3.5%;
  padding-right: 2.5%;
}

#cardt {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

#cardt span {
  font-size: 40px;
}
#dabba {
  margin-top: 10px;
}
#box1 {
  color: white;
  background-color: orangered;
}
#box2 {
  background-color: rgb(0, 177, 0);
  color: white;
}
#box3 {
  background-color: #096eb4;
  color: white;
}
#blue {
  font-size: 14px;
  align-content: flex-start;
}
#btt {
  margin-left: -5px;
}

#sp {
  padding-top: 3%;
  padding-left: 3%;
  font-size: 20px;
}
#total {
  margin-top: -5%;
  font-size: 17px;
  margin-left: 3%;
  padding-bottom: 3%;
}
#box3 button {
  background-color: #0863b4;
  height: 40px;
  color: white;
  border: 1px white solid;
  font-size: 15px;
  margin-left: 3%;
}
#coming {
  font-size: 15px;
  /* padding-top: 3%; */
}

#topflo {
  display: flex;
  justify-content: space-between;
}
.linkicon {
  display: flex;
  justify-content: space-between;
}

.fontawesom {
  padding-top: 2%;
  padding-right: 2%;
  display: flex;
  justify-content: space-between;
}

.topi {
  display: flex;
  justify-content: space-between;
}
.topi h4 {
  font-size: 20px;
}
.topi button {
  background-color: red !important;
  border: none;
  color: white;
  align-items: center;
}
.network {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#bg {
  /* padding: 1px; */
  background-color: #fafafa;
  min-height: 490px;
  border: #dadada 1px solid;
  padding: 15px;
}
#bot {
  padding-top: 1%;
  margin: 1.2%;
}
